@import "../../../variables.css";

.elementColor{
    width: 100%;
    background: lightgreen;
    margin: 0 auto 30px auto;
    border-radius: 10px;
    box-shadow: 3px 3px 7px var(--shadow);
}

.element{
    width: calc(100% - 10px);
    background: var(--light);
    margin-left: auto;
    border-radius: 10px;
    padding: 20px;
}

a{
    text-decoration: none;
    color: var(--text);
}

.elementTitle{
    font-size: 26px;
}

.elementDescription{
    width: 100%;
    font-size: 18px;
    overflow: hidden;
    color: var(--text);
    filter: opacity(.5);
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 40px;
}

.elementTags{
    width: 100%;
    padding-top: 10px;
}

.elementUlTags{
    list-style: none;
    display: inline-block;
    
}

.elementLiTags{
    float: right;
    margin-right: 20px;
    border-radius: 150px;
    border: 1.2px solid var(--text);
    padding: 5px 10px 3px 10px;
}