@import "../variables.css";

.inputDiv{
   position: relative;
}

.placeholder{
   color: var(--light-text);
   font-size: 22px;
   position: absolute;
   top: 53%;
   left: 20px;
   transform: translateY(-50%);
   pointer-events: none;
   background-color: var(--light);
   padding: 0px 8px;
   transition: color .1s ease-in-out;
   transition: top .1s ease-in-out;
}

.classInput{
   outline: none;
   font-size: 22px;
   color: var(--text);
   border: 3px solid var(--light-text);
   background-color: transparent;
   border-radius: 10px;
   width: 100%;
   padding: 20px;
   transition: border .1s ease-in-out;
}

.inputFocus{
   border: 3px solid var(--text);
}

.placeholderFocus{
   color: var(--text);
   top: 3%;
   transform: translateY(-50%);
   transition: top .1s ease-in-out;
} 