@import "../variables.css";

#sidebar{
   width: 280px;
   height: 100vh;
   background-color: var(--light);
   padding-top: 40px;
}

#links{
   padding-left: 35px;
   padding-top: 60%;
   margin: 0 auto;
}

