@import "../../variables.css";

.section{
   margin: 40px 0;
}

#boilerplatesLink::before{
   content: "\f0ca";
}

#newProjectLink::before{
   content: "\f055";
}

#settingsLink::before{
   content: "\f013";
}

#settingsLink::before, #newProjectLink::before, #boilerplatesLink::before{
   font-family: "FontAwesome";
   margin-right: 30px;
}




.sectionTitle{
   color: var(--text);
   font-size: 26px;
   text-decoration: none;
}

.active .sectionTitle{
   color: var(--orange);
}
