@import "../../variables.css";

/* width */
::-webkit-scrollbar {
   width: 5px;
 }
 
 /* Track */
 ::-webkit-scrollbar-track {
   background: transparent; 
 }
  
 /* Handle */
 ::-webkit-scrollbar-thumb {
   background: var(--orange);
 }
 
 /* Handle on hover */
 ::-webkit-scrollbar-thumb:hover {
   background: var(--orange);
 }

#listeBoilerplates{
   width: 480px;
   height: 100vh;
   background-color: var(--dark-light);
   overflow-y: scroll;
   padding: 30px;
}

.loading{
  margin: 0 auto;
}